/* #page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

#page1 form {
  text-align: center;
  margin: 1rem;
}

#page1 div {
  margin: 1rem;
}

#page2 div {
  text-align: center;
  margin: 1rem;
}

section {
  display: none;
}

.active {
  display: block;
}
