#homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#homepage form {
  text-align: center;
  margin: 1rem;
}

#homepage div {
  margin: 1rem;
}

.visible {
  display: block;
}

.notvisibile {
  display: none;
}
