/* #page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

#page1 form {
  text-align: center;
  margin: 1rem;
}

#page1 div {
  margin: 1rem;
}

#page2 div {
  text-align: center;
  margin: 1rem;
}

section {
  display: none;
}

.active {
  display: block;
}

#socketsInTheRoom,
#socketsInTheRoomVoteNumbers {
  /* flex: 2 1 auto; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#socketsInTheRoom > li,
#socketsInTheRoomVoteNumbers > li {
  padding: 0.5rem 1rem;
}
#socketsInTheRoom > li:nth-child(odd),
#socketsInTheRoomVoteNumbers > li:nth-child(odd) {
  background: #efefef;
}

p {
  padding: 0.5rem 1rem;
}

#playersAndVotes {
  display: flex;
  justify-content: center;
}
