/* #page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
body {
  font-family: "Roboto", sans-serif;
}

#page1 form {
  text-align: center;
  margin: 1rem;
}

#page1 div {
  margin: 1rem;
}

#page2 div {
  text-align: center;
  margin: 1rem;
}

section {
  display: none;
}

.active {
  display: block;
}

label {
  margin-top: 0.2rem;
}
input {
  margin-bottom: 1rem;
  text-align: center;
}
input[type="text"],
input[type="text"]:focus {
  outline: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

#socketsInTheRoomElement,
#socketsInTheRoomVoteNumbersElement {
  /* flex: 2 1 auto; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#socketsInTheRoomElement > li,
#socketsInTheRoomVoteNumbersElement > li {
  padding: 0.5rem 1rem;
}
#socketsInTheRoomElement > li:nth-child(odd),
#socketsInTheRoomVoteNumbersElement > li:nth-child(odd) {
  background: #efefef;
}

p {
  padding: 0.5rem 1rem;
}

#playersAndVotes {
  display: flex;
  justify-content: center;
}

#roomCodeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

#roomCodeWrapper p {
  display: inline-block;
}

.voteBtn:hover {
  transition: transform 0.2s ease;
  transform: translateY(
    -2px
  ); /* Adjust the value to control the amount of upward movement */
}

@media screen and (max-width: 420px) {
  .btn {
    margin: 2px;
  }
}
